body {
	background-color: #FEF;
	color: #111;
}

.title {
	text-align: center;
	color: #111;
	padding: 1em 0;
}

.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: #1f618d;
}

.login {
	display: table;
	margin: auto;
}

.form_login {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.center {
	text-align: center;
	color: #111;
}

.inLineBlock {
	display: inline-block;
}
