<html>
	<head>
		<title>Nothing Here</title>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<h1>Nothing for now</h1>
		<% include ../partials/footer %>
	</body>
</html>
