<html>
	<head>
		<title>Crypt currencies</title>
	</head>
	<body>
		<h1>Crypto-currencies</h1>
		<ul>
			<% currencies.forEach(function(curr) { %>
				<li><%= curr.name %></li>
			<% }); %>
		</ul>
	</body>
</html>
